/*Комментарии в CCS пишем так. Не забываем что в первую очередь верстаем мобилку.
Рекомендую пользоваться уже готовыми классами. если что то непонятно лучше спросить. у нас пока не Agile. мы готовим качественный продукт и сразу) Андрей*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
} 

p {
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 26px;
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
}


/* Димина часть началась*/

.all-block-curse {
    display: flex;
    flex-direction: column;
    background-color: grey;
    justify-content:center;
    width: 376px;
}

.zagolovok {
    font-size: 26px;
    font-family:'Roboto Slab', serif;
}

.recense {
    padding-left: 21px;
    padding-right: 21px;
    width:308px;
    font-size:10px;
    font-weight: 400px;
}

.down-of-recense {
    display:flex;
    width:80%;
}

.name {
    margin-top:0;
    margin-bottom:0;
}

.name-and-logo {
    
    align-items:center;
    padding:10px;
}

.photo {
    width:80px;
}

.facebook {
    width: 15px;
}

/* Димина часть закончилась*/

/*здесь версия для мобилки*/

.info-container { 
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
} 

.info-container h2 {
    margin: 0;
    margin-bottom: 1.5em;
}

.for-resize h2 {
    margin-left: 10%;
}

.format-container{
    display: flex;
    flex-direction: column;
}

.info-items {
    margin-bottom: 2em;
}
.info-items:last-child {
    margin-bottom: 0;
}

.info-items-caption {
    font-size: 12px;
    font-weight: bold;
    line-height: 130%;

}

.info-items-caption a {
    color: #1E4681;
}

.info-items-comment {
    font-size: 10px;
    line-height: 130%;
}

.whatsnew{
    padding-left: 1em;
}

.whatsnew ul {
    list-style-position: inside;
    font-size: 12px;
    padding: 0px;
    list-style-position: outside;
    list-style: disc;
    margin: 0;
}
.whatsnew li {
    text-indent: ;
}

.programm-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.programm-items {
    display: flex;
    width: 200px;
    height: 170px;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
}

.programm-items:last-child {
    display: none;
}

.programm-items img {
    width: 100%;
}

.programm-items-text h4 {
    margin: 0px;
    margin-top: 0.5em;
    margin-left: 10px;
    font-size: 14px;
    height: 2.5em;
}

.programm-items-text p {
    margin: 0px;
    margin-left: 10px;
    font-size: 12px;
}


/*здесь версия для недопланшета, но перемобилки*/
@media (min-width:600px) and (max-width: 992px) {

    .programm-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 500px;
    }
    .programm-items {
        margin: 10px;
    }

    .format-container {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .info-items{
        margin: 0;
        margin-bottom: 10px;
        margin-right: 3%;
        width: 40%;
    }

    .for-resize .info-container {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        
    }

}
/*здесь версия для планшета*/
@media (min-width:992px) and (max-width: 1279px) {
    
    h2 {
        font-size: 32px;
    }

    .format-container {
        display:flex;
        flex-direction: row;
    }

    .info-items{
        margin: 0;
        margin-right: 5%;
        width: 20%;
    }

    .info-items-caption {
        font-size: 15px;
    }

    .info-items-comment {
        font-size: 11px;
    }

    .whatsnew ul {
        font-size: 14px;
    }

    .for-resize .info-container {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        
    }

    .for-resize h2 {
        margin-left: 10%;
        margin-right: 10%;
    }


    .programm-container {
        flex-direction: row;
        flex-wrap: wrap;        
        justify-content: center;
    }

    .programm-items {
        width: 260px;
        height: 210px;
        margin:1.66%;
        border-radius: 20px;
    }

    .programm-items:last-child {
        display: flex;
        
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }

    .programm-items-text h4 {
        margin: 0px;
        margin-top: 0.5em;
        margin-left: 10px;
        font-size: 17px;
        height: 2.5em;
    }
    
    .programm-items-text p {
        margin: 0px;
        margin-left: 10px;
        font-size: 14px;
    }

}
/*здесь версия для десктопа*/
@media (min-width: 1280px) {
    .info-container { 

    } 
}
