/*Комментарии в CCS пишем так. Не забываем что в первую очередь верстаем мобилку.
Рекомендую пользоваться уже готовыми классами. если что то непонятно лучше спросить. у нас пока не Agile. мы готовим качественный продукт и сразу) Андрей*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
} 

p {
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Димина часть началась*/

.all-block-curse {
    display: flex;
    flex-direction: column;
    background-color: grey;
    justify-content:center;
    width: 376px;
}

.zagolovok {
    font-size: 26px;
    font-family:'Roboto Slab', serif;
}

.recense {
    padding-left: 21px;
    padding-right: 21px;
    width:308px;
    font-size:10px;
    font-weight: 400px;
}

.down-of-recense {
    display:flex;
    width:80%;
}

.name {
    margin-top:0;
    margin-bottom:0;
}

.name-and-logo {
    
    align-items:center;
    padding:10px;
}

.photo {
    width:80px;
}

.facebook {
    width: 15px;
}

/* Димина часть закончилась*/

/*здесь версия для мобилки*/
h2 {
    font-size: 26px;
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    margin-bottom: 1em;
}

.info-container { 
    margin-left: 36px;
    margin-right: 36px;
} 

.format-container{
    display: flex;
    flex-direction: column;
}

.info-items {
    margin-bottom: 2em;
}

.info-items-caption {
    font-size: 12px;
    font-weight: bold;
}

.info-items-caption a {
    color: #1E4681;
}

.info-items-comment {
    font-size: 10px;
}

.whatsnew ul {
    list-style-position: inside;
    font-size: 12px;
    padding: 0px;
}

.programm-container {
    display:flex;
    flex-direction: column;
    align-items: center;

}



.programm-items {
    display: flex;
    height: 170px;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: chocolate;
    border-radius: 15px;
}

.programm-items img {
    width: 200px;
}

.programm-items-text h4 {
    margin: 0px;
    font-size: 14px;

}




/*здесь версия для планшета*/
@media (min-width:992px) and (max-width: 1279px) {
    .info-container { 
        margin-left: 70px;
        margin-right: 70px;
    } 
}
/*здесь версия для десктопа*/
@media (min-width: 1280px) {
    .info-container { 
        margin-left: 121px;
        margin-right: 121px;
    } 
}
