/*Комментарии в CCS пишем так. Не забываем что в первую очередь верстаем мобилку.
Рекомендую пользоваться уже готовыми классами. если что то непонятно лучше спросить. у нас пока не Agile. мы готовим качественный продукт и сразу) Андрей*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

body {
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    min-width: 300px;
    margin: 0;
    letter-spacing: normal;
} 

p {
    margin: 0;
    font-size: 12px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  font-size: 26px;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 37px;
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;   
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    font-weight: 700;
    width: 292px;
}

/* Димина часть началась*/

.all-block-curse {
  display: flex;
  justify-content: center;
  background-color: #EFEFEF;
  padding-top: 42px;
  padding-left: 36px;
  padding-right: 32px;
  width: 100%;
  height: 381px;
}

.zagolovok {
  font-family: "Roboto Slab", serif;
  margin: 0;
  margin-bottom: 11px;
  width: 257px;
  height: 69px;
  line-height: 1em;
}

.recense {
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 18.47px;
  width: 266px;
  height: 229.53px;
  font-size: 10px;
  font-weight: 400px;
  background-color: white;
  border: 0 solid white;
  border-radius: 13px;
}

.down-of-recense {
    display:flex;
    padding-top: 21.52px;
    width:80%;
    width: 15px;
}

.name {
  margin-top: 0;
  margin-bottom: 0;
}

.name-and-logo {
  align-items: center;
  padding: 10px;
}

.photo {
  width: 80px;
}

.facebook {
  margin-top: 15px;
  width: 15px;
}

.start-of-curse {
    display: flex;
    justify-content: center;
    background-color: #9DC9C8;
    height: 301px;
    width: 100%;
    margin: auto;
    padding-left: 36px;
    padding-top: 62px;
    padding-right: 32px;
}

.start {
    width: 228px;
    margin-top: 0;
    line-height: 1em;
}

.criteriys {
    display: flex;
}

.any-level-one {
    width: 140px;
}

.any-level-two {
    margin-left: 31px;
    width: 140px;
}

.level {
    font-size: 10px;
    margin-top: 5px;
}

.cost {
    margin-top: 0;
}

footer {
    background-color: black;
    width: 100%;
    height: 228px;
    min-height: 227.7px;
    margin: 0;
    padding-left: 36px;
    padding-top: 23.3px;
    padding-right: 32px;
}

.in-the-footer {
  display: flex;
  justify-content: center;
}

.into-footer {
  width: 311px;
}

.logo-mobile {
    width: 53.59px;
}

.logo-mobile {
    width: 54px;
}

.contacts {
    color: white;
    margin-top: 48px;
    height: 19px;
}

.down-logo {
    color: white;
    height: 19px;
    font-size: 10px;
    margin-top: 67px;
}

.contacts img {
    width: 12.58px;
}

.social-networks img {
    width: 15.38px;
}

/* Димина часть закончилась*/

/*здесь версия для мобилки*/

/*Женина часть*/
.camera {
    display: none;
}

.logo {
    margin-top: 36px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    display: flex;
    margin-left: 10%;    
}

.menu img {
 width: 10px;   
}

.producer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.citata  {
    display: block;
    width: 225px;
    background-color: #1E4681;
    border-radius: 3px;
    color: white;
    padding: 15px;
    font-size: 11px;
    margin-top: 56px;
}
.producer img {
  width: 150px;
}
.tarkovski {
    font-size: 10px;
    margin-top: 10px;
    text-align: end;
    font-size: 10px;
}
 p.okurse{
   padding-bottom: 10px;
   font-size: 12px;
 }
.okurse{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.operator img{
  width: 146px;
}
.menu ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    font-size: 10px;
}

.menu li {
    margin-right: 30px;
}

.info-container { 
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
} 

.info-container h2 {
    margin: 0;
    margin-bottom: 1.5em;
}

.for-resize h2 {
    margin-left: 10%;
}

.format-container {
  display: flex;
  flex-direction: column;
}

.info-items {
  margin-bottom: 2em;
}
.info-items:last-child {
  margin-bottom: 0;
}

.info-items-caption {
    font-size: 12px;
    font-weight: bold;
    line-height: 130%;
}

.info-items-caption a {
  color: #1e4681;
}

.info-items-comment {
  font-size: 10px;
  line-height: 130%;
}

.whatsnew {
  padding-left: 1em;
}

.whatsnew ul {
  list-style-position: inside;
  font-size: 12px;
  padding: 0px;
  list-style-position: outside;
  list-style: disc;
  margin: 0;
}
.whatsnew li {
  text-indent: ;
}

.programm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.programm-items {
  display: flex;
  width: 200px;
  height: 170px;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
}

.programm-items:last-child {
    display: none;
}

.programm-items img {
  width: 100%;
}

.programm-items-text h4 {
  margin: 0px;
  margin-top: 0.5em;
  margin-left: 10px;
  font-size: 14px;
  height: 2.5em;
}

.programm-items-text p {
  margin: 0px;
  margin-left: 10px;
  font-size: 12px;
}

/*здесь версия для недопланшета, но перемобилки*/
@media (min-width:600px) and (max-width: 992px) {

    .programm-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 500px;
    }
    .programm-items {
        margin: 10px;
    }

    .format-container {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .info-items{
        margin: 0;
        margin-bottom: 10px;
        margin-right: 3%;
        width: 40%;
    }

    .for-resize .info-container {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        
    }

}
/*здесь версия для планшета*/
@media (min-width:992px) and (max-width: 1279px) {
   .menu img {
    width: 12px;   
} 

  .menu ul {
  font-size: 12px;
}

  .menu li {
  margin-right: 30px;
}
    
    h2 {
        font-size: 32px;
    }

    .format-container {
        display:flex;
        flex-direction: row;
    }

    .info-items{
        margin: 0;
        margin-right: 5%;
        width: 20%;
    }

    .info-items-caption {
        font-size: 15px;
    }

    .info-items-comment {
        font-size: 11px;
    }

    .whatsnew ul {
        font-size: 14px;
    }

    .for-resize .info-container {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        
    }

    .for-resize h2 {
        margin-left: 10%;
        margin-right: 10%;
    }


    .programm-container {
        flex-direction: row;
        flex-wrap: wrap;        
        justify-content: center;
        max-width: 1200px;
    }

    .programm-items {
        width: 260px;
        height: 210px;
        margin:1.66%;
        border-radius: 20px;
    }

    .programm-items:last-child {
        display: flex;
        
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }

    .programm-items-text h4 {
        margin: 0px;
        margin-top: 0.5em;
        margin-left: 10px;
        font-size: 17px;
        height: 2.5em;
    }
    
    .programm-items-text p {
        margin: 0px;
        margin-left: 10px;
        font-size: 14px;
    }

  .format-container {
    display: flex;
    flex-direction: row;
  }

  .info-items {
    margin: 0;
    margin-right: 5%;
    width: 20%;
  }

  .info-items-caption {
    font-size: 15px;
  }

  .info-items-comment {
    font-size: 11px;
  }

  .whatsnew ul {
    font-size: 14px;
  }

  .for-resize .info-container {
    margin-left: 0;
    margin-right: 0;
  }

  .for-resize h2 {
    margin-left: 10%;
    margin-right: 10%;
  }

  .programm-container {
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .programm-items {
    width: 260px;
    height: 210px;
    margin: 1.66%;
    border-radius: 20px;
  }

  .programm-items-text h4 {
    margin: 0px;
    margin-top: 0.5em;
    margin-left: 10px;
    font-size: 17px;
    height: 2.5em;
  }

  .programm-items-text p {
    margin: 0px;
    margin-left: 10px;
    font-size: 14px;
  }
}

/*Часть Дмитрия*/
/*Конец части Дмитрия*/

/*здесь версия для десктопа*/
@media (min-width: 1280px) {
  .menu img {
    width: 20px;   
} 

  .menu ul {
  font-size: 20px;
}

  .menu li {
  margin-right: 30px;
}

    h2 {
        font-size: 55px;
    }

    .format-container {
        display:flex;
        flex-direction: row;
    }

    .info-items{
        margin: 0;
        margin-right: 5%;
        width: 20%;
    }

    .info-items-caption {
        font-size: 25px;
    }

    .info-items-comment {
        font-size: 18px;
    }

    .whatsnew ul {
        font-size: 24px;
    }

    .for-resize .info-container {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        
    }

    .for-resize h2 {
        margin-left: 10%;
        margin-right: 10%;
    }


    .programm-container {
        flex-direction: row;
        flex-wrap: wrap;        
        justify-content: center;
    }

    .programm-items {
        width: 30%;
        max-width: 400px;
        height: 350px;
        margin:1.66%;
        border-radius: 30px;
    }

    .programm-items:last-child {
        display: flex;
        
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }

    .programm-items-text h4 {
        margin: 0px;
        margin-top: 0.5em;
        margin-left: 10px;
        font-size: 30px;
        height: 2.5em;
    }
    
    .programm-items-text p {
        margin: 0px;
        margin-left: 10px;
        font-size: 25px;
    }

        /*Часть Дмитрия*/
    .all-block-curse {
      width: 100%;
      padding-left: 126px;
    }

    .recense {
      max-width: 791px;
      max-height: 451px;
      padding-left: 45px;
      padding-right: 46px;
    }

    .start-of-curse {
      width: 100%;
    }

    /*Конец части Дмитрия*/
}




/*костыль*/
@media (min-width: 1878px) {
    .programm-items:last-child {
        display: none;
    }
}
/*костыль 2*/
@media (min-width:1233px) and (max-width: 1279px) {
    .programm-items:last-child {
        display: none;
    }
}