/*Комментарии в CCS пишем так. Не забываем что в первую очередь верстаем мобилку. Андрей*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 
/*Бокс-сайзинг от рамки оболочки. по дефолту задаю падинги, марджины по нулям. В последствии с ними будет удобней работать. Погнали))*/
/*здесь версия для мобилки*/

/*здесь версия для планшета*/

/*здесь версия для десктопа*/

